.nav {
    background-color: orangered;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav :global(.active) {
    background-color: #00c46a;
}
:global(.test) {
    background-color: red;
}
